---
layout: default
---


<!-- Main -->
<div id="main">
    <section>
		<a href="#myportfolio">{My Apps}</a>  | <a href="#portfolio">{Apps I have worked in}</a> |  <a href="#experience">{Experience}</a> | <a href="#education">{Education}</a> | <a href="/">
		<hr>
        <!-- begin Summary -->
        <section class="content-section">
          <header class="section-header">
            <h2>Summary</h2>
          </header>

          <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
            <h4 class="resume-item-details" itemprop="description">Software developer more than 10 in the whole software industry. iOS Developer since 2010, previously Backend/Frontend. Wide experience creating native apps and games with both Cocoa Touch and Cocos2d using Objective C and Swift. Also experience as both Back-end and Front-end developer with several other languages and frameworks. Quality oriented professional with high attention to detail and love for well done things seeking a challenge as an iOS Developer with exposure to Backend.</h4>
			
            <!--<p class="resume-item-copy"></p>-->
            <ul class="resume-item-list">
              <li>6 years of experience as iOS Developer (Since iOS 4-5)</li>
			  <li>5 years of experience as Backend Developer</li>
              <li>3 years of experience as web FrontEnd developer. (HTML+Javascript)</li>
			  <li>6 years working in Agile projects with Scrum/Kanban (AGILE) .</li>
			  <li>11 years total as Software Developer</li>
            </ul>
			<hr>
           <ul class="resume-item-list">
             <li><strong>Programming Languages:</strong> Swift, Objective C, C#, Javascript, CSS, HTML and a bit of C and C++. </li>
             <li><strong>Frameworks and Tools:</strong> XCode, Instruments, Cocoa Touch / Core Libraries, IGListkit, SpriteKit, Cocos2d, Cocos2d-x, AFNetworking, SocketRocket (WebSockets), Facebook Graph API, Fabric, Mixpanel, AdMob mediation, Chartboost, GameKit, In-App Purchases, Kochava (Tracking framework), Google Analytics, CocoaPods, TeamCity, Vagrant, .NET Framework, Visual Studio. (At some point it's hard to keep this up to date)</li>
             <li><strong>Databases:</strong> MS SQL, Oracle, MySQL, SQLite (CoreData).</li>
		  <li><strong>Source Control:</strong> Git (GitHub / Stash) with Git workflow, SVN.</li>
           </ul>

          </div><!-- end of resume-item -->

        </section>
        <!-- end Summary -->
		
		
		
		
		
        <!-- begin Experience -->
        <section class="content-section">

          <header class="section-header">
			  <a name="experience"></a>
            <h2>Experience</h2>
          </header>
		  
          <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
          <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
            <h3 class="resume-item-title" itemprop="name">Shedd App (OLX Group)</h3>
            <h4 class="resume-item-details" itemprop="description">iOS Engineer &bull; Apr, 2018 &mdash; Present</h4>
            <p class="resume-item-copy">iOS Engineer at Shedd, a pre-loved fashion classifieds app.</p>
            <ul class="resume-item-list">
              <li>Work in a highly efficient, fast-paced continous delivery workflow to deploy new features with A/B testing while maintaining quality code. </li>
              <li>Implementation under tight deadlines of all the new payments services for Spain launch.</li>
            </ul>

          </div><!-- end of resume-item --
		  
          <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
          <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
            <h3 class="resume-item-title" itemprop="name">Shootr Networks, SLU</h3>
            <h4 class="resume-item-details" itemprop="description">iOS Developer &bull; Jul, 2017 &mdash; Apr, 2018</h4>
            <p class="resume-item-copy">iOS Developer for Shootr, a popular local social network app.</p>
            <ul class="resume-item-list">
              <li>Upgrade to sockets communication from polling. Designed and integrated from scratch. </li>
              <li>Refactor of old modules and update to Swift.</li>
              <li>Work closely with other teams to locate and solve problems as quickly as possible.</li>
            </ul>

          </div><!-- end of resume-item --
		  
          <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
          <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
            <h3 class="resume-item-title" itemprop="name">IGT plc</h3>
            <h4 class="resume-item-details" itemprop="description">iOS Developer (Consultant) &bull; Jul, 2016 &mdash; Jun 2017</h4>
            <p class="resume-item-copy">iOS Developer for the biggest world-wide interactive gaming software and services provider.</p>
            <ul class="resume-item-list">
              <li>Development from scratch of Baccarat live betting demo app to be presented at G2E.</li>
              <li>Development and maintenance of award winning PlaySpot app.</li>
              <li>Assisted in solving technical and design issues with the rest of the team in the other projects.</li>
            </ul>

          </div><!-- end of resume-item --

          <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
          <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
            <h3 class="resume-item-title" itemprop="name">DabGaming Limited</h3>
            <h4 class="resume-item-details" itemprop="description">iOS Engineer &bull; Aug, 2014 &mdash; Jun, 2016</h4>
            <p class="resume-item-copy">Principal developer of the iOS version of the main product of the company, BingoDab. An online multiplayer bingo game played worldwide. Created using SpriteKit and UIKIT and integrated with RESTful Web Services and using a persistent connection using WebSockets.</p>
            <ul class="resume-item-list">
              <li>Development from scratch of the iOS project.</li>
              <li>Management of live issues of an app being used by thousands of players.</li>
              <li>Design and implementation of a B2B system for the project and worked closely with partners by providing requirements and support for the customised packages.</li>
			  <li>Implementation of a continuous integration process using TeamCity (integrated with both old and new TestFlight services.</li>
			  <li>Management of the whole setup, building and submission processes for the iOS app.</li>
			  <li>Management of the Git repository for the iOS project and coordination with other team developers for the correct work between different branches and releases.</li>
			  <li>Peer-to-peer programming and code review of new team members as well as assistance with the interviewing process.</li>
            </ul>

          </div><!-- end of resume-item -->

          <!-- another resume item -->
          <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
            <h3 class="resume-item-title" itemprop="name">Nektan Ltd.</h3>
            <h4 class="resume-item-details" itemprop="description">iOS Developer &bull; Dec, 2013 &mdash; Aug, 2014</h4>
            <p class="resume-item-copy">Development of games for the gambling industry for iOS using SpriteKit, UIKIT integrated with RESTful Web Services.</p>
            <ul class="resume-item-list">
              <li>Blackjack (built from scratch in barely one month)</li>
              <li>Slots (maintenance and improvements)</li>
		  	</ul>
          </div><!-- end of resume-item -->

          <!-- by now you're getting the picture... -->
          <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
            <h3 class="resume-item-title" itemprop="name">Double Equal</h3>
            <h4 class="resume-item-details" itemprop="description">Freelance iOS Developer &bull; May, 2012 &mdash; Sep, 2013</h4>
            <p class="resume-item-copy">Co-Founder of Double Equal. A development group based in Zaragoza working with several games and applications using Cocoa Touch, Cocos2d and Cocos2d-x:</p>
            <ul class="resume-item-list">
              <li>Development of The Dreamsons</li>
              <li>Episode 1, an iOS game aimed at families to play together.</li>
			  <li>Development of Think-N-Link, a nice and educative puzzle game for children.</li>
			  <li>Development of Spy Buster Evo, a retro style game baked in public in 4 days for a contest.</li>
			  <li>Development of Quares for iOS, an addictive puzzle game with presence in Game Center.</li>
			  <li>Deep analysis and improvement of performance of games for old devices.</li>
			  <li>Worked with the whole design process of projects. Liaised with clients from the pre-sale stage to the maintenance and support stages.</li>
		  	</ul>
          </div><!-- end of resume-item -->


          <!-- by now you're getting the picture... -->
          <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
            <h3 class="resume-item-title" itemprop="name">TwinDocs Int.</h3>
            <h4 class="resume-item-details" itemprop="description">Senior Front-end Developer &bull; Mar, 2011 &mdash; May, 2012</h4>
            <p class="resume-item-copy">Member of the main development team for an important cloud service company in Spain:

Development and maintenance of Twindocs service. Backend in ASP.net C#, JSON web services, and HTML, Javascript and CSS frontend.</p>
            <ul class="resume-item-list">
              <li>Research of fail safe file access system for document management using direct access through network, webdav and FTP.</li>
              <li>Unit testing for both server and UI using nUnit and Selenium framework.</li>
			  <li>Development of windows (Pascal), OS X (Cocoa), and mobile applications (Cocoa Touch and Titanium)</li>
		  	</ul>
          </div><!-- end of resume-item -->
        </section>
        <!-- end Experience -->
		
		
		          <!-- by now you're getting the picture... -->
		          <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
		            <h3 class="resume-item-title" itemprop="name">iA Soft.</h3>
		            <h4 class="resume-item-details" itemprop="description">Back-end Developer &bull; Dec, 2009 &mdash; Jan, 2011</h4>
		            <p class="resume-item-copy">Key member of the development team for an E-Administration project for the local authorities.</p>
		            <ul class="resume-item-list">
		              <li>Improved and maintained several E-Administration web applications for both government employees and end users.</li>
		              <li>Created new modules for several projects to add new key functionalities, including integration with Stellent, dynamically-generated pages, and application configuration.
</li>
					  <li>Developed a validation system using electronic certificates.</li>
				  	</ul>
		          </div><!-- end of resume-item -->
		        </section>
		        <!-- end Experience -->
				
				
				
				          <!-- by now you're getting the picture... -->
				          <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
				            <h3 class="resume-item-title" itemprop="name">SoftQS.</h3>
				            <h4 class="resume-item-details" itemprop="description">Web Developer &bull; Jan, 2007 &mdash; Dec, 2009</h4>
				            <p class="resume-item-copy">Member of the development team in charge of the full development cycle, from requirement gathering to development and support of web applications.</p>
				            <ul class="resume-item-list">
				              <li>Developed bespoke CMS and eCommerce web applications for the insurance sector.</li>
				              <li>Liaised with clients to elaborate requirements as well as providing technical support.</li>
						  	</ul>
				          </div><!-- end of resume-item -->
				        </section>
				        <!-- end Experience -->

        <!-- begin Education -->
        <section class="content-section">

          <header class="section-header">
			  <a name="education"></a>
            <h2>Education</h2>
          </header>

          <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/CollegeOrUniversity">
            <h3 class="resume-item-title" itemprop="name">University of Wales (Partnership Fundación San Valero)</h3>
            <h4 class="resume-item-details" itemprop="description">Bachelor in Sciences, Computing &bull; 2004 &mdash; 2008</h4>
            <p class="resume-item-copy">Obtained 2:1 honours
<br />
Final Degree Project: User-focused web application to create self-published dynamic web sites using ASP.net with Framework 3.5 and Ajax Control Toolkit.</p>
          </div>

        </section>
        <!-- end Education -->
        <!-- begin Projects -->
		<!--
        <section class="content-section">

          <header class="section-header">
			   
            <h2>Projects</h2>
          </header>

          <div class="resume-item">
            <h3 class="resume-item-title"><a href="http://donutlocator.io">donutfinder.io</a></h3>
            <h4 class="resume-item-details">Founder & Primary Developer &bull; 2012 &mdash; Present</h4>
            <p class="resume-item-copy">Donut Locator is an open source node/ember app that lets users find donuts within a defined radius from their home.</p>
          </div>

          <div class="resume-item">
            <h3 class="resume-item-title">Springfield Donut Eater's User Group</h3>
            <h4 class="resume-item-details">Co-Founder & Organizer &bull; 2007 &mdash; Present</h4>
            <p class="resume-item-copy">DEUG is a local monthly meetup in Springfield where we share all the latest tips and tricks for dat donut lifestyle. I organize the group, and typically eat most of the donuts.</p>
          </div>

        </section>
			-->
        <!-- end Projects -->

        <!-- begin Skills -->
        <!--
		
        <section class="content-section">

          <header class="section-header">
            <h2>Skills</h2>
          </header>

          <div class="resume-item">
            <h4 class="resume-item-details">Donut design</h4>
            <p class="resume-item-copy">Sprinkle art, icing design, eclair management, taste testing, donut/coffee pairing research</p>
          </div>

          <div class="resume-item">
            <h4 class="resume-item-details">Craft beer brewing</h4>
            <p class="resume-item-copy">Hops inspection, brew testing, distribution management, bottle label design, festival and event management</p>
          </div>

          <div class="resume-item">
            <h4 class="resume-item-details">Family leadership</h4>
            <p class="resume-item-copy">Bread winning, conflict resolution, couch inspection, TV longevity testing</p>
          </div>

        </section>
		
		 -->
    </section>
    <section>
		<a name="portfolio"></a>
		<h2>Apps I have worked in</h2>
        <div class="row">
            {% for post in site.posts offset:0 %}

                <article class="{% cycle '6u', '6u$' %} 12u(small)">
                    <header>
                        <h2><a href="{{ post.extern }}">{{ post.title }}</a></h2>
                    </header>
                    <section>
                        {{ post.excerpt }}
                    </section>
                    <footer>
                        <ul class="actions">
                        </ul>
                    </footer>
                </article>

            {% endfor %}
        </div>
    </section>
    <!-- <section>
		<a name="myportfolio"></a>
		<h2>My Apps</h2>
        <div class="row">
            {% for post in site.posts offset:3 %}

                <article class="{% cycle '6u', '6u$' %} 12u(small)">
                    <header>
                        <h2><a href="{{ post.extern }}">{{ post.title }}</a></h2>
                    </header>
                    <section>
                        {{ post.excerpt }}
                    </section>
                    <footer>
                        <ul class="actions">

                        </ul>
                    </footer>
                </article>

            {% endfor %}
        </div>
    </section> -->
    
</div>
